<form class="field-full-width" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <button
    mat-stroked-button
    extended
    color="primary"
    (click)="goBackToPrevPage()"
    class="books-form__button-go-back--button"
  >
    <mat-icon>arrow_back</mat-icon>
    Voltar
  </button>
  <mat-form-field class="field-full-width">
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" />
  </mat-form-field>

  <div class="books-form__wrapper-image--div">
    <p><b>Imagem</b></p>
    <div class="books-form__wrapper-image-fields--div" formGroupName="image">
      <mat-form-field class="field-full-width">
        <mat-label>Source</mat-label>
        <input matInput formControlName="src" />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-label>Alt</mat-label>
        <input matInput formControlName="alt" />
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="field-full-width">
    <mat-label>Nome</mat-label>
    <input matInput value="3217dsaidsa" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Autor</mat-label>
    <input matInput value="3217dsaidsa" formControlName="author" />
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Editora</mat-label>
    <input matInput value="3217dsaidsa" formControlName="publisher" />
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Ano</mat-label>
    <input
      matInput
      maxlength="4"
      formControlName="year"
      type="number"
      min="1900"
      max="2099"
      step="1"
    />
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Idioma</mat-label>
    <mat-select formControlName="language">
      @for (language of languages; track language.value) {
      <mat-option [value]="language.value">{{ language.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoryId">
      @for (category of categories; track category.value) {
      <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput maxlength="500" formControlName="description"></textarea>
  </mat-form-field>
  <div class="books-form__button-send--div">
    <button mat-flat-button extended color="primary" type="submit">
      <mat-icon>send</mat-icon>
      Cadastrar
    </button>
  </div>
</form>
