.card {
  width: 100%;
  max-height: 300px;
}

.img-content {
  max-height: 150px;
  background-size: cover;
}

.header-form {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.description {
  margin-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Número de linhas desejado */
  text-overflow: ellipsis;
}

.wrapper-card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
