<header class="books__header--form">
  <form (ngSubmit)="searchBook()">
    <mat-form-field appearance="fill" (keyup.enter)="searchBook()">
      <mat-label>Procurar livro...</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Pressione enter para procurar</mat-hint>
    </mat-form-field>
  </form>
  <button mat-flat-button extended color="primary" (click)="goToForm()">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>
</header>
<section class="books__card-section">
  @if (books$ ) { @for (book of books$ | async; track book.id) {
  <!-- TODO: build a component card to use deferrable view -->
  <app-card [book]="book" />
  } @empty {
  <p>Nenhum livro foi cadastrado ainda</p>
  } } @else {
  <p>...</p>
  }
</section>
