<header class="books__header--form">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Procurar livro...</mat-label>
      <input matInput type="search" [formControl]="search" />
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Pressione enter para procurar</mat-hint>
    </mat-form-field>
  </form>
  <button mat-flat-button extended color="primary">
    <mat-icon>add</mat-icon>
    Adicionar
  </button>
</header>
<section class="books__card-section">
  @if (books$ ) { @for (book of books$ | async; track book.id) {
  <!-- TODO: build a component card to use deferrable view -->
  <!-- <app-card [book]="book" /> -->
  } @empty {
  <p>Nenhum livro foi cadastrado ainda</p>
  } } @else {
  <p>...</p>
  }
</section>
