<section class="wrapper-section">
  <div class="wrapper-book">
    <img
      class="image"
      src="{{ details.data.img.src }}"
      alt="{{ details.data.img.alt }}"
    />
    <button
      mat-stroked-button
      extended
      color="primary"
      (click)="goBackToPrevPage()"
    >
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
    <button
      mat-flat-button
      extended
      color="accent"
      (click)="goToForm(details.data.id)"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button mat-flat-button extended color="warn">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>
  </div>
  <div>
    <div>{{ details.data.category }}</div>
    <h1>{{ details.data.name }}</h1>
    <p>{{ details.data.description }}</p>
    <mat-divider></mat-divider>
    <h2 class="title-list">Informações do livro</h2>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Id do livro</span>
        <span mat-line>{{ details.data.id }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Autor:</span>

        <span mat-line>{{ details.data.author }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Editora:</span>
        <span mat-line>{{ details.data.publisher }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Ano:</span>
        <span mat-line>{{ details.data.year }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Criado por: </span>
        <span mat-line>{{ details.data.createdByUser }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Atualizado em:</span>
        <span mat-line>Atualizado em: {{ details.data.updateDate }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Atualizado por:</span>
        <span mat-line>{{ details.data.updateByUser }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Ativo:</span>
        <span mat-line>{{ details.data.active }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</section>
