<section class="books-details__wrapper--section">
  <div class="books-details__wrapper-image--div">
    <img
      class="books-details__wrapper-image--img"
      src="{{ details.image.src }}"
      alt="{{ details.image.alt }}"
    />
    <button
      mat-stroked-button
      extended
      color="primary"
      (click)="goBackToPrevPage()"
    >
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
    <button
      mat-flat-button
      extended
      color="accent"
      (click)="goToForm(details.id)"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button mat-flat-button extended color="warn" (click)="deleteBook()">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>
  </div>
  <div class="books-details__wrapper-info--div">
    <div class="books-details__wrapper-info-category--div">
      {{ details.category.name }}
    </div>
    <h1>{{ details.name }}</h1>
    <p>{{ details.description }}</p>
    <mat-divider></mat-divider>
    <h2 class="books-details__wrapper-info-subtitle--h2">
      Informações do livro
    </h2>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Id do livro</span>
        <span mat-line>{{ details.id }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Autor:</span>

        <span mat-line>{{ details.author }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Editora:</span>
        <span mat-line>{{ details.publisher }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Ano:</span>
        <span mat-line>{{ details.year }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Criado em: </span>
        <span mat-line>{{ details.createdAt }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Atualizado em:</span>
        <span mat-line>{{ details.updateAt || "None" }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Atualizado por:</span>
        <span mat-line>{{ details.updatedByUser || "None" }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Ativo:</span>
        <span mat-line>{{ details.active }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</section>
