.books-details__wrapper--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.books-details__wrapper-image--div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  max-width: 360px;
  width: 100%;
}

.books-details__wrapper-image {
  background-size: cover;
  height: 500px;
}

.books-details__wrapper-info--div {
  max-width: 336px; // 360-24
  width: 100%;
}

.books-details__wrapper-info-category--div {
  background-color: aquamarine;
  border-radius: 1em;
  margin-bottom: 12px;
  padding: 4px 12px;
  width: min-content;
}

.books-details__wrapper-info-subtitle--h2 {
  margin-top: 24px;
}
