/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid {
  background-color: yellow;
  margin: 0 auto;
  max-width: 744px; // 720 + 24
  padding: 24px;
}
